body {
	background-color: #09cf02;
}
h1 {
	font-family: Helvetica, sans-serif;
	text-align: center;
	color: #ab0000;
}
li {
	font-family: Helvetica, sans-serif;
	padding: 25px;
	background-color: #ab0000;
	color: #09cf02;
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	font-weight: bold;
}
li:hover {
	font-family: Helvetica, sans-serif;
	padding: 25px;
	background-color: #09cf02;
	color: #ab0000;
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	font-weight: bold;
}
